.Main-div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
body{
  background-color: antiquewhite; /* Daca vreau ca tot bg al unei aplicatii web sa aiba o culoare folosesc body */
}

.Form-BG{
  display: flex;
  flex-direction: column;
  background-color: #141414;
  height: 400px;
  width: 500px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.Form-BG h1{
  color: #edefee;
  font-size: 30px;
  font-family: sans-serif;
  margin-bottom: 25px;
}

.Form-BG label{
  color: #edefee;
  margin-bottom: 5px;
  
}

.Form-BG form {
  display: flex;
  flex-direction: column;
  position: relative;
}
.Form-BG input{
  width: 200px;
  height: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  
}

button{
  background-color: green;
  color: #edefee;
  font-size: 16px;
  height: 30px;
  width: 150px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 33px;
}